<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Site.Title }}</title>
  {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{$styles.Permalink}}">
</head>
<body>
  <div class="grid">
    <header class="grid__header">
      {{ partial "header.html" . }}
    </header>
    <main class="grid__main">
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="grid__footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>