.grid {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  min-height: 100vh;

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
    padding: 1rem 0;
  }

  &__footer {
    grid-area: footer;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";

    &__main {
      padding: 1rem;
    }
  }
}
