@import '../variables.scss';

.not-found {
  padding-top: 20vh;
  height: 100vh;
  text-align: center;
  background-color: $black;
  color: rgba($white, 0.75);
}

.logo404 {
  padding-bottom: 15px;
}
