@import '../../variables';

.logo {
  width: 150px;
}

.nav-item {
  padding: 10px 20px;
  a {
    color: rgba($color: $gold, $alpha: 1) !important;
  }
}

.navbar {
  padding-bottom: 10px;
  background-color: $darkgrey !important;
}
